<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <% for (let i = 0; i < blogs.length; i++) { %>
            <hr>
            <%- blogs[i].htmlTitle %>
            <%- blogs[i].htmlBody %>
            <hr>
        <% } %>

        <% if (next) { %>
            <a id="next_link" href="?start=<%- startFrom %> ">Next</a>
        <% } %>


    </body>
</html>